# Xcode
DerivedData/
build/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Build artifacts
artifacts/
*.pkg
